<p id="notice"><%= notice %></p>

<p>
    <strong>Body:</strong>
    <%= @workorder.body %>
</p>

<p>
    <strong>Caller:</strong>
    <%= @workorder.caller %>
</p>

<p>
    <strong>Technician:</strong>
    <%= @workorder.technician %>
</p>

<p>
    <strong>Target date:</strong>
    <%= @workorder.target_date %>
</p>

<p>
    <strong>Resolution:</strong>
    <%= @workorder.resolution %>
</p>

<p>
    <strong>Client:</strong>
    <%= @workorder.client_id %>
</p>

<%= link_to 'Edit', edit_client_workorder_path(@client, @workorder) %> |
<%= link_to 'Back', client_workorders_path(@client) %>