<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @client.name %>
</p>

<p>
    <strong>Address:</strong>
    <%= @client.address %>
</p>

<p>
    <strong>City:</strong>
    <%= @client.city %>
</p>

<p>
    <strong>State:</strong>
    <%= @client.state %>
</p>

<p>
    <strong>Zip:</strong>
    <%= @client.zip %>
</p>
<h2>Workorders</h2>
<% for workorder in @client.workorders %>
<div class="container">
    <div class="card">
        <ul>
            <li>Workorder #:<%=workorder.id%></li>
            <li>Body:<%=workorder.body%></li>
            <li>Caller:<%=workorder.caller%></li>
            <li>Assigned Technician:<%=workorder.technician%></li>
            <li>Target Date:<%=workorder.target_date%></li>
            <li>Resolution:<%=workorder.resolution%></li>
        </ul>
    </div>
</div>
<%= link_to 'Edit Client', edit_client_path(@client) %> |
<%= link_to 'Add Workorder', client_workorders_path(@client) %>
<%= link_to 'Back', clients_path %>

<% end %>
<div class="footer">
</div>