<p id="notice"><%= notice %></p>

<h1>Workorders</h1>

<table>
    <thead>
        <tr>
            <th>Body</th>
            <th>Caller</th>
            <th>Technician</th>
            <th>Target date</th>
            <th>Resolution</th>
            <th>Client</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @workorders.each do |workorder| %>
        <tr>
            <td><%= workorder.body %></td>
            <td><%= workorder.caller %></td>
            <td><%= workorder.technician %></td>
            <td><%= workorder.target_date %></td>
            <td><%= workorder.resolution %></td>
            <td><%= workorder.client_id %></td>
            <td><%= workorder.client.name %></td>
            <td><%= link_to 'Show Client', [@client] %></td>
            <td><%= link_to 'Edit', edit_workorder_path(workorder) %></td>
            <td><%= link_to 'Destroy', workorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Workorder', new_workorder_path %>